<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Primary Meta Tags -->
    <title>{{title}}</title>
    <meta name="title" content="{{title}}">
    <meta name="description" content="{{meta_description}}">
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <link href="/font-awesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="/font-awesome/css/brands.min.css" rel="stylesheet">
    <link href="/font-awesome/css/solid.min.css" rel="stylesheet">

    <link href="/css/main.css" rel="stylesheet"/>

    <!--Favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#4b2662">
    <meta name="msapplication-TileColor" content="#4b2662">
    <meta name="theme-color" content="#ffffff">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://hackonload.com/">
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{meta_description}}">
    <meta property="og:image" content="https://hackonload.com/preview.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://hackonload.com/">
    <meta property="twitter:title" content="{{title}}">
    <meta property="twitter:description" content="{{meta_description}}">
    <meta property="twitter:image" content="https://hackonload.com/preview.png">

    {{#if production}}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131919957-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', 'UA-131919957-1');
        </script>
        <!-- Facebook Pixel Code -->
        <script>
            !function (f, b, e, v, n, t, s) {
                if (f.fbq) return;
                n = f.fbq = function () {
                    n.callMethod ?
                            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                };
                if (!f._fbq) f._fbq = n;
                n.push = n;
                n.loaded = !0;
                n.version = '2.0';
                n.queue = [];
                t = b.createElement(e);
                t.async = !0;
                t.src = v;
                s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window, document, 'script',
                    'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '617203598718294');
            fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
                       src="https://www.facebook.com/tr?id=617203598718294&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Facebook Pixel Code -->
    {{/if}}
</head>
<body>
<div class="loader">
    <div class="loader-outter"></div>
    <div class="loader-inner"></div>
</div>

<header class="header navbar fixed-top navbar-expand-md">
    <div class="container">
        <a class="navbar-brand logo" href="/" aria-label="OnLoad">
            <img src="/images/onload.png" alt="OnLoad's logo"/>
        </a>
        <img src="/images/vvce.png" alt="OnLoad's logo"/>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headernav"
                aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse flex-sm-row-reverse" id="headernav">
            <ul class=" nav navbar-nav menu">
                {{#each links}}
                    <li class="nav-item">
                        <a class="nav-link" href="{{href}}" title="{{title}}" {{#if newWindow}}
                           rel="noopener" target="_blank" {{/if}}>
                            {{title}} {{#if external}}<i class="fas fa-external-link-square-alt"></i>{{/if}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</header>
<!--header end here-->

{{{ body }}}
<!--footer start -->

<footer class="footer">
    <div class="container-fluid">
        <div class="row text-center-xs">
            <div class="col-sm-12 col-md-2">
                <ul class="footer-links">
                    <li class="link-item">
                        <a href="https://devfolio.co/code-of-conduct" target="_blank" rel="noopener"
                           title="Code of Conduct">
                            Code of Conduct
                        </a>
                    </li>
                    <li class="link-item">
                        <a href="/team" title="Our Team">Our Team</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-2">
                <ul class="footer-links">
                    <li class="link-item">
                        <a href="https://www.facebook.com/pg/hackOnLoad/photos/?tab=album&album_id=2061382887293793"
                           target="_blank" rel="noopener" title="OnLoad 1.0 Gallery">
                            OnLoad 1.0
                        </a>
                    </li>
                    <li class="link-item">
                        <a href="/campus-ambassador"
                           rel="nofollow" title="Become a campus Ambassador">
                            Campus Ambassador
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-4 text-center">
                <div class="onload-img">
                    <img src="/images/onload-white.png" class="footer-logo img-fluid" alt="OnLoad's Logo">
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <ul class="footer-social">

                    <li class="social-item" id="facebook">
                        <a href="https://www.facebook.com/hackOnLoad" target="_blank" rel="noopener" title="Facebook"
                           aria-label="Facebook">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </li>
                    <li class="social-item" id="twitter">
                        <a href="https://twitter.com/hackOnLoad" target="_blank" rel="noopener" title="Twitter"
                           aria-label="Twitter">
                            <i class="fab fa-twitter-square"></i>
                        </a>
                    </li>
                    <li class="social-item" id="instagram">
                        <a href="https://www.instagram.com/hackonload/" target="_blank" rel="noopener"
                           title="Instagram" aria-label="Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="social-item" id="linkedin">
                        <a href="https://www.linkedin.com/company/hackonload/" rel="noopener" title="LinkedIn"
                           aria-label="LinkedIn">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                    <li class="social-item" id="youtube">
                        <a href="https://www.youtube.com/channel/UCk_-DEAu3mRfsAHBctDOScg" target="_blank"
                           rel="noopener" title="Youtube" aria-label="Youtube">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                    <li class="social-item" id="telegram">
                        <a href="https://t.me/HackOnLoad" rel="noopener" target="_blank" title="Telegram"
                           aria-label="Telegram">
                            <i class="fab fa-telegram-plane"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--footer end -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous" async defer></script>

<!--<script src="/js/legacy/jquery.min.js"></script>-->
<!--<script src="/js/legacy/popper.js"></script>-->
<!--<script src="/js/legacy/bootstrap.min.js"></script>-->

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"
        integrity="sha256-jDnOKIOq2KNsQZTcBTEnsp76FnfMEttF6AV2DF2fFNE=" crossorigin="anonymous"></script>-->
<!--<script src="/js/waypoints.min.js"></script>-->
<!--slick carousel -->
<!--<script src="/js/owl.carousel.min.js"></script>-->
<!--parallax -->
<!--<script src="/js/parallax.min.js"></script>-->
<!--Counter up
<script src="/js/jquery.counterup.min.js"></script>
&lt;!&ndash;Counter down &ndash;&gt;
<script src="/js/jquery.countdown.min.js"></script>-->
<!-- WOW JS -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"
        integrity="sha256-z6FznuNG1jo9PP3/jBjL6P3tvLMtSwiVAowZPOgo56U=" crossorigin="anonymous"></script>-->
<!-- Custom js -->
<!--<script src="/js/main.js"></script>-->
<script>
    /*$(window).on('load', () => {
        $('.loader').delay(500).fadeOut('slow');
    });*/
    $(document).ready(() => {
        $('.loader').delay(500).fadeOut('slow');
        $(window).on('scroll', () => {
            if ($(window).scrollTop() < 100) {
                $('.header').removeClass('sticky_header');
            } else {
                $('.header').addClass('sticky_header');
            }
        });
    });
</script>
<script>
    const hackathonDevfolioKey = 'onload2020';
    document.addEventListener('DOMContentLoaded', function () {
        let devfolioOptionsTop = {
            buttonSelector: '#devfolio-apply-now-top',
            key: hackathonDevfolioKey,
        };
        let devfolioOptionsBottom = {
            buttonSelector: '#devfolio-apply-now-bottom',
            key: hackathonDevfolioKey,
        };

        let script = document.createElement('script');
        script.src = "https://apply.devfolio.co";
        document.head.append(script);

        script.onload = function () {
            if ($(devfolioOptionsTop.buttonSelector).length !== 0) {
                new Devfolio(devfolioOptionsTop);
            }
            if ($(devfolioOptionsBottom.buttonSelector).length !== 0) {
                new Devfolio(devfolioOptionsBottom);
            }
        };

        script.onerror = function () {
            document.querySelector(devfolioOptionsTop.buttonSelector).addEventListener('click', function () {
                window.location.href = 'https://devfolio.co/external-apply/' + devfolioOptionsTop.key;
            });
        }
    });
</script>
</body>
</html>
