<!--cover section slider -->
<section id="home" class="home-cover">
    <div class="cover_slider">
        <div class="cover_item">
            <div class="slider_content">
                <div class="slider-content-inner">
                    <div class="container">
                        <div class="slider-content-center">
                            <h2 class="cover-title">
                                Great things in organizations are never done by one person, the are done by a team.
                            </h2>
                            <div class="cover-event-data">
                                <p class="cover-date">
                                    <i class="fas fa-calendar-day"></i> 28th Feb - 1st March, 2020
                                </p>
                                <p class="cover-venue">
                                    <a href="https://goo.gl/maps/M2och8ac3qT2" rel="noopener" target="_blank"
                                       title="See on Map"
                                       aria-label="Event Location">
                                        <i class="fas fa-map-marker-alt"></i> VVCE, Mysuru
                                    </a>
                                </p>
                            </div>
                            <button id="devfolio-apply-now-top" class="devfolio-apply-now mx-auto">
                                <svg class="logo" xmlns="http://www.w3.org/2000/svg" fill="#fff"
                                     viewBox="0 0 115.46 123.46" style="height:24px;width:24px;margin-right:8px">
                                    <path d="M115.46 68a55.43 55.43 0 0 1-50.85 55.11S28.12 124 16 123a12.6 12.6 0 0 1-10.09-7.5 15.85 15.85 0 0 0 5.36 1.5c4 .34 10.72.51 20.13.51 13.82 0 28.84-.38 29-.38h.26a60.14 60.14 0 0 0 54.72-52.47c.05 1.05.08 2.18.08 3.34z"/>
                                    <path d="M110.93 55.87A55.43 55.43 0 0 1 60.08 111s-36.48.92-48.58-.12C5 110.29.15 104.22 0 97.52l.2-83.84C.38 7 5.26.94 11.76.41c12.11-1 48.59.12 48.59.12a55.41 55.41 0 0 1 50.58 55.34z"/>
                                </svg>
                                Apply with Devfolio
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--cover section slider end -->

<section id="team" class="section">
    <div class="container">
        <div class="section_title">
            <h3 class="title">Meet the team behind OnLoad</h3>
        </div>
        <div class="row">
            {{#each team}}
                <div class="col-md-12 col-lg-4 member-wrapper">
                    <div class="member card">
                        <img src="/images/team/{{image}}" class="card-img-top" alt="{{name}}"/>
                        <div class="card-body">
                            <h5 class="card-title">{{name}}</h5>
                            <p class="card-text">{{bio}}</p>
                            <a href="{{link}}" target="_blank" rel="noopener"
                               class="btn btn-primary-outline btn-rounded ext-btn">
                                <i class="fas fa-external-link-square-alt"></i>
                            </a>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</section>
